{% extends 'web/base_dashboard.html' %}
{% load widget_tweaks %}
{% load i18n %}
{% block dashboard_content %}
    <section class="w-full card max-w-none">
        <h2 class="text-2xl font-bold text-gray-900 mb-4">{% translate 'Information' %}</h2>
        <form action="{% url 'accounts:user_edit' %}" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
                <div class="col-span-1 ">
                    <label class="input-label"
                           for="{{ form.email.id_for_label }}">Email</label>
                    <input type="email" id="id_email" value="{{ request.user.email }}" class="form-control" disabled>
                    <small class="text-gray-500 text-xs">{{ form.email.help_text }}</small>
                    <small class="text-danger-500 text-xs">{{ form.email.errors }}</small>
                </div>
                <div class="col-span-1 ">
                    <label class="input-label"
                           for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
                    {{ form.first_name|add_class:"form-control" }}
                    <small class="text-gray-500 text-xs">{{ form.first_name.help_text }}</small>
                    <small class="text-danger-500 text-xs">{{ form.first_name.errors }}</small>
                </div>
                <div class="col-span-1 ">
                    <label class="input-label"
                           for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
                    {{ form.last_name|add_class:"form-control" }}
                    <small class="text-gray-500 text-xs">{{ form.last_name.help_text }}</small>
                    <small class="text-danger-500 text-xs">{{ form.last_name.errors }}</small>
                </div>
                <div class="col-span-1 ">
                    <label class="input-label"
                           for="{{ form.phone_number.id_for_label }}">{{ form.phone_number.label }}</label>
                    {{ form.phone_number|add_class:"form-control" }}
                    <small class="text-gray-500 text-xs">{{ form.phone_number.help_text }}</small>
                    <small class="text-danger-500 text-xs">{{ form.phone_number.errors }}</small>
                </div>
                <div class="col-span-1 ">
                    <button class="btn btn-primary" type="submit">{% translate 'Save' %}</button>
                </div>
            </div>
        </form>
    </section>
    <section class="w-full card max-w-none mt-6">
        <h2 class="text-2xl font-bold text-gray-900 mb-4">{% translate 'Change Password' %}</h2>
        <form action="{% url 'accounts:user_password_change' %}" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <div class="grid grid-cols-1 lg:grid-cols-1 gap-4">
                <div class="col-span-1 max-w-xl">
                    <label class="input-label"
                           for="{{ password_form.old_password.id_for_label }}">{{ password_form.old_password.label }}</label>
                    {{ password_form.old_password|add_class:"form-control" }}
                    <small class="text-gray-500 text-xs">{{ password_form.old_password.help_text }}</small>
                    <small class="text-danger-500 text-xs">{{ password_form.old_password.errors }}</small>
                </div>
                <div class="col-span-1 max-w-xl">
                    <label class="input-label"
                           for="{{ password_form.new_password1.id_for_label }}">{{ password_form.new_password1.label }}</label>
                    {{ password_form.new_password1|add_class:"form-control" }}
                    <small class="text-gray-500 text-xs">{{ password_form.new_password1.help_text }}</small>
                    <small class="text-danger-500 text-xs">{{ password_form.new_password1.errors }}</small>
                </div>
                <div class="col-span-1 max-w-xl">
                    <label class="input-label"
                           for="{{ password_form.new_password2.id_for_label }}">{{ password_form.new_password2.label }}</label>
                    {{ password_form.new_password2|add_class:"form-control" }}
                    <small class="text-gray-500 text-xs">{{ password_form.new_password2.help_text }}</small>
                    <small class="text-danger-500 text-xs">{{ password_form.new_password2.errors }}</small>
                </div>
                <div class="col-span-1 ">
                    <button class="btn btn-primary" type="submit">{% translate 'Change Password' %}</button>
                </div>
            </div>
        </form>
    </section>
{% endblock %}
