{% load i18n %}
<div id="avatarButton"
     class="relative w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600 cursor-pointer"
     type="button" data-dropdown-toggle="userDropdown-{{ id }}" data-dropdown-placement="bottom-start">
    <svg class="absolute w-12 h-12 text-gray-400 -left-1" fill="currentColor" viewBox="0 0 20 20"
         xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path>
    </svg>
</div>


<!-- Dropdown menu -->
<div id="userDropdown-{{ id }}"
     class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
    {% if show_info == True %}
        <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
            <div>{{ request.user.get_full_name }}</div>
            <div class="font-medium truncate">{{ request.user.email }}</div>
        </div>
    {% endif %}
    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="avatarButton">
        <li>
            <a href="{% url 'main:dashboard' %}"
               class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                {% translate 'Dashboard' %}
            </a>
        </li>
        <li>
            <a href="{% url 'shop:cart_detail' %}"
               class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">{% translate 'Shopping cart' %}</a>
        </li>
    </ul>
    <div class="py-1">
        <a href="{% url 'accounts:logout' %}"
           class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
            {% translate 'Sign out' %}
        </a>
    </div>
</div>
