{% load i18n %}
{% url 'main:dashboard' as dashboard %}
{% url 'main:home' as home %}
{% url 'shop:order_history' as orders %}
{% url 'main:cameras_list' as cameras %}
{% url 'accounts:contact_list' as contacts %}
{% url 'accounts:subscription_list' as subscribes %}
{% url 'accounts:user_edit' as user_edit %}

<header class="sm:hidden sticky top-0 shadow z-30">
    <nav class="bg-white border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800">
        <div class="relative flex flex-wrap justify-between items-center mx-auto max-w-screen-xl z-30">
            <button data-drawer-target="dashboard-sidebar" data-drawer-toggle="dashboard-sidebar"
                    aria-controls="dashboard-sidebar"
                    type="button"
                    class="inline-flex items-center p-2 mt-2 ml-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
                <span class="sr-only">Open sidebar</span>
                <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path clip-rule="evenodd" fill-rule="evenodd"
                          d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
                </svg>
            </button>
            {% include 'web/components/navbar_user_avatar.html' with show_info=True id=0 %}
        </div>
    </nav>
</header>


<aside id="dashboard-sidebar"
       class="fixed lg:relative shrink-0 z-40 top-0 left-0 w-64 h-screen transition-transform shadow-lg -translate-x-full sm:translate-x-0"
       aria-label="Sidenav">
    <div class="overflow-y-auto py-5 px-3 h-full bg-white border-r border-gray-200 dark:bg-gray-800 dark:border-gray-700">
        <h2 class="text-xl font-bold text-primary-600">{% translate 'Eye Security Company' %}</h2>
        <ul class="space-y-2 mt-2 pt-2 border-t">
            <li>
                <a href="{{ dashboard }}"
                   class="sidebar-link group {% if active_tab == 'dashboard' %}active{% endif %}">
                    <span class="fa-light fa-grid-2 sidebar-icon"></span>
                    <span class="ml-3">{% translate 'Dashboard' %}</span>
                </a>
            </li>
            <li>
                <a href="{{ orders }}" class="sidebar-link group {% if active_tab == 'orders' %}active{% endif %}">
                    <span class="fa-light fa-cart-shopping sidebar-icon"></span>
                    <span class="ml-3">{% translate 'Orders' %}</span>
                </a>
            </li>
            <li>
                <a href="{{ cameras }}" class="sidebar-link group {% if active_tab == 'cameras' %}active{% endif %}">
                    <span class="fa-light fa-camera-cctv sidebar-icon"></span>
                    <span class="ml-3">{% translate 'Cameras' %}</span>
                </a>
            </li>
            <li>
                <a href="{{ contacts }}" class="sidebar-link group {% if active_tab == 'contacts' %}active{% endif %}">
                    <span class="fa-light fa-contact-book sidebar-icon"></span>
                    <span class="ml-3">{% translate 'Contacts' %}</span>
                </a>
            </li>
        </ul>
        <ul class="space-y-2 mt-2 pt-2 border-t">
            <li>
                <a href="{{ user_edit }}" class="sidebar-link group {% if active_tab == 'account' %}active{% endif %}">
                    <span class="fa-light fa-user sidebar-icon"></span>
                    <span class="ml-3">{% translate 'Account' %}</span>
                </a>
            </li>
            <li>
                <a href="{{ subscribes }}"
                   class="sidebar-link group {% if active_tab == 'subscriptions' %}active{% endif %}">
                    <span class="fa-light fa-sparkles sidebar-icon"></span>
                    <span class="ml-3">{% translate 'Subscription' %}</span>
                </a>
            </li>
            <li>
                <a href="{{ home }}"
                   class="sidebar-link group">
                    <span class="fa-light fa-door-open sidebar-icon"></span>
                    <span class="ml-3">{% translate 'Exit' %}</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="hidden absolute bottom-0 left-0 justify-start p-4 space-x-4 w-full sm:flex bg-white dark:bg-gray-800 z-20 border-r border-gray-200 dark:border-gray-700">
        <div class="flex gap-2 items-center">
            {% include 'web/components/navbar_user_avatar.html' with show_info=False id=1 %}
            <div class="flex flex-col gap-1">
                <span class="">{{ request.user.get_full_name }}</span>
                <span class="">{{ request.user.email }}</span>
            </div>
        </div>
    </div>
</aside>